<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>D_KEY_APP_AREAID</key>
	<integer>1057</integer>
	<key>D_KEY_APP_CATEGORY</key>
	<integer>1</integer>
	<key>D_KEY_APP_MERCHANTNAME</key>
	<string>邮信通</string>
	<key>D_KEY_APP_SUBSHOPID</key>
	<integer>3</integer>
	<key>D_KEY_FIND_NAME</key>
	<string>发现</string>
	<key>D_KEY_FIND_SHOWNAV</key>
	<integer>1</integer>
	<key>D_KEY_MERCHANTID</key>
	<integer>9</integer>
</dict>
</plist>
