<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>D_KEY_APP_AREAID</key>
	<integer>1037</integer>
	<key>D_KEY_APP_CATEGORY</key>
	<integer>0</integer>
	<key>D_KEY_APP_MERCHANTNAME</key>
	<string>我信通</string>
	<key>D_KEY_APP_SUBSHOPID</key>
	<integer>1031</integer>
	<key>D_KEY_MERCHANTID</key>
	<real>10057</real>
</dict>
</plist>
