<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>distribution</key>
		<string>分校价 ： 3000</string>
		<key>icon</key>
		<string>shop196</string>
		<key>name</key>
		<string>肃反2015年新款夏季韩日森女系t协印花新品棉白色短袖t鞋说</string>
		<key>count</key>
		<string>限量 10 台  剩余 3 天</string>
		<key>price</key>
		<string>原价 ： 3999</string>
	</dict>
	<dict>
		<key>distribution</key>
		<string>分校价 ： 3000</string>
		<key>icon</key>
		<string>shop196</string>
		<key>name</key>
		<string>肃反2015年新款夏季韩日森女系t协印花新品棉白色短袖t鞋说</string>
		<key>count</key>
		<string>限量 10 台  剩余 3 天</string>
		<key>price</key>
		<string>原价 ： 3999</string>
	</dict>
	<dict>
		<key>distribution</key>
		<string>分校价 ： 3000</string>
		<key>icon</key>
		<string>shop196</string>
		<key>name</key>
		<string>肃反2015年新款夏季韩日森女系t协印花新品棉白色短袖t鞋说</string>
		<key>count</key>
		<string>限量 10 台  剩余 3 天</string>
		<key>price</key>
		<string>原价 ： 3999</string>
	</dict>
	<dict>
		<key>distribution</key>
		<string>分校价 ： 3000</string>
		<key>icon</key>
		<string>shop196</string>
		<key>name</key>
		<string>肃反2015年新款夏季韩日森女系t协印花新品棉白色短袖t鞋说</string>
		<key>count</key>
		<string>限量 10 台  剩余 3 天</string>
		<key>price</key>
		<string>原价 ： 3999</string>
	</dict>
	<dict>
		<key>distribution</key>
		<string>分校价 ： 3000</string>
		<key>icon</key>
		<string>shop196</string>
		<key>name</key>
		<string>肃反2015年新款夏季韩日森女系t协印花新品棉白色短袖t鞋说</string>
		<key>count</key>
		<string>限量 10 台  剩余 3 天</string>
		<key>price</key>
		<string>原价 ： 3999</string>
	</dict>
	<dict>
		<key>distribution</key>
		<string>分校价 ： 3000</string>
		<key>icon</key>
		<string>shop196</string>
		<key>name</key>
		<string>肃反2015年新款夏季韩日森女系t协印花新品棉白色短袖t鞋说</string>
		<key>count</key>
		<string>限量 10 台  剩余 3 天</string>
		<key>price</key>
		<string>原价 ： 3999</string>
	</dict>
	<dict>
		<key>distribution</key>
		<string>分校价 ： 3000</string>
		<key>icon</key>
		<string>shop196</string>
		<key>name</key>
		<string>肃反2015年新款夏季韩日森女系t协印花新品棉白色短袖t鞋说</string>
		<key>count</key>
		<string>限量 10 台  剩余 3 天</string>
		<key>price</key>
		<string>原价 ： 3999</string>
	</dict>
</array>
</plist>
