<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>storelogo</string>
		<key>name</key>
		<string>女性智慧课堂</string>
		<key>storeName</key>
		<string>女性智慧课堂中的党中央</string>
		<key>content</key>
		<array>
			<string>store</string>
			<string>store</string>
			<string>store</string>
		</array>
	</dict>
</array>
</plist>
